<a href="https://colab.research.google.com/github/NisalaTharakaPerera/StockPricePredictionUsingLSTMNeuralNetwork/blob/main/Microsoft_Stock_Forecasting_using_LSTMs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# dataset @ https://finance.yahoo.com/quote/MSFT/history/

In [3]:
import pandas as pd
df = pd.read_csv('MSFT.csv')
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,1986-03-13,0.088542,0.101563,0.088542,0.097222,0.060980,1031788800
1,1986-03-14,0.097222,0.102431,0.097222,0.100694,0.063158,308160000
2,1986-03-17,0.100694,0.103299,0.100694,0.102431,0.064247,133171200
3,1986-03-18,0.102431,0.103299,0.098958,0.099826,0.062613,67766400
4,1986-03-19,0.099826,0.100694,0.097222,0.098090,0.061524,47894400
...,...,...,...,...,...,...,...
9222,2022-10-13,219.850006,236.100006,219.130005,234.240005,234.240005,42551800
9223,2022-10-14,235.539993,237.240005,228.339996,228.559998,228.559998,30187200
9224,2022-10-17,235.820007,238.960007,235.139999,237.529999,237.529999,28142300
9225,2022-10-18,243.240005,243.929993,235.369995,238.500000,238.500000,26329600
9226,2022-10-19,237.039993,239.610001,234.289993,236.479996,236.479996,19951400

Here we get rid of the other columns and keep only the 'Date' and 'Close' columns

In [4]:
df = df[['Date', 'Close']]
df

            Date       Close
0     1986-03-13    0.097222
1     1986-03-14    0.100694
2     1986-03-17    0.102431
3     1986-03-18    0.099826
4     1986-03-19    0.098090
...          ...         ...
9222  2022-10-13  234.240005
9223  2022-10-14  228.559998
9224  2022-10-17  237.529999
9225  2022-10-18  238.500000
9226  2022-10-19  236.479996

[9227 rows x 2 columns]

In [5]:
df['Date']

0       1986-03-13
1       1986-03-14
2       1986-03-17
3       1986-03-18
4       1986-03-19
           ...
9222    2022-10-13
9223    2022-10-14
9224    2022-10-17
9225    2022-10-18
9226    2022-10-19
Name: Date, Length: 9227, dtype: object

In [7]:
import datetime

def str_to_datetime(s):
  split = s.split('-')
  year, month, day = int(split[0]), int(split[1]), int(split[2])
  return datetime.datetime(year=year, month=month, day=day)

datetime_object = str_to_datetime('1986-03-19')
datetime_object

datetime.datetime(1986, 3, 19, 0, 0)

In [8]:
df

            Date       Close
0     1986-03-13    0.097222
1     1986-03-14    0.100694
2     1986-03-17    0.102431
3     1986-03-18    0.099826
4     1986-03-19    0.098090
...          ...         ...
9222  2022-10-13  234.240005
9223  2022-10-14  228.559998
9224  2022-10-17  237.529999
9225  2022-10-18  238.500000
9226  2022-10-19  236.479996

[9227 rows x 2 columns]

In [9]:
df['Date'] = df['Date'].apply(str_to_datetime)
df['Date']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0      1986-03-13
1      1986-03-14
2      1986-03-17
3      1986-03-18
4      1986-03-19
          ...
9222   2022-10-13
9223   2022-10-14
9224   2022-10-17
9225   2022-10-18
9226   2022-10-19
Name: Date, Length: 9227, dtype: datetime64[ns]

In [10]:
df.index = df.pop('Date')
df

                 Close
Date
1986-03-13    0.097222
1986-03-14    0.100694
1986-03-17    0.102431
1986-03-18    0.099826
1986-03-19    0.098090
...                ...
2022-10-13  234.240005
2022-10-14  228.559998
2022-10-17  237.529999
2022-10-18  238.500000
2022-10-19  236.479996

[9227 rows x 1 columns]